# Environnement virtuel
venv/
.env/
*.env
*.cfg

# Fichiers de configuration spécifiques
__pycache__/
*.py[cod]
*.pyo

# Journaux et fichiers temporaires
*.log
*.tmp
*.bak
*.swp
*.swo

# Cache d'outils de build
build/
dist/
*.egg-info/
.eggs/

# Cache d'outils Python
.pytest_cache/
.coverage
.cache/
*.cover

# Fichiers d'IDE ou éditeurs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebooks
.ipynb_checkpoints/

# Système d'exploitation
.DS_Store
Thumbs.db

# Docker
*.pid

# Secret Data
backend/security_config/secret_data.py
bin/
lib/
include/
lajouteadiner/
